<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participant Submission</title>
    <style>
        body{
            font-size: 20px;
            width: 60%;
            margin: auto;
        }
        h1{
            font-size: 18px;
        }
        ul{
            text-decoration: none;
            list-style: none;
        }
        li{
            font-size: 16px;
        }
        .mcq img{
            width: 100%;
        }
        .answerDelete{
            background-color: rgb(219, 215, 215);
            padding: 10px;
        }
        .mcq{
            border-bottom: 2px solid black;
        }
    </style>
</head>
<body>
    <div style="width: fit-content; margin: auto; margin-top: 10px;">
        <img src="../public/assets/Indian_Institute_of_Information_Technology,_Bhagalpur_logo.png" style="text-align: center;" width="150px" height="150px" alt="" srcset="">
    </div>
    <h1 style="text-align: center;">Indian Institute of Information Technology Bhagalpur</h1>
    <div class="userDetailshow" id="userDetail" style="background-color:rgb(219, 215, 215) ; padding: 10px;">
        
    </div>
    <div class="questionShow" id="questionshow">
        
    </div>
    <div class="quiz" id="quizdisplay">
        
    </div>
    <h1 style="text-align: center; margin-top: 20px;">Indian Institute of Information Technology Bhagalpur</h1>
    <script src="../public/js/UserSubmitForm.js"></script>
</body>
</html>