body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Verdana;
}


.main {
    display: flex;
    margin: auto;
    width: 95%;
}

.quiz {
    width: 70%;
}

.mcq {
    width: 80%;
    margin: auto;
}

.mcq h1 span {
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.mcq h1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

.mcq h3 {
    border-top: 2px solid black;
    margin-top: 3px;
    font-size: 18px;
    font-weight: normal;
}

.mcq img {
    width: 100%;
}

.mcq ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 5px;
}

.mcq ul li {
    font-size: 20px;
    margin: 0;
    padding: 0;
    padding: 10px 15px;
    cursor: pointer;
}

.mcq ul li:hover {
    background-color: rgb(144, 188, 133) !important;
}

.submitbutton {
    text-align: center;
    margin-top: 10px;
}

.mcq button {
    padding: 8px 20px;
    cursor: pointer;
    border: none;
    background: rgb(228, 208, 208);
    font-size: 16px;
}

.mcq button:hover{
    background-color: rgb(188, 188, 229);
}

.differentquestion {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.question {
    width: 30%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    border-left: 3px solid black;
    min-height: 60vh;
}

.questionShow {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

.question h1 {
    font-size: 20px;
    font-weight: normal;
    margin-left: 10px;
}

.questionShow .short {
    background-color: gray;
    padding: 6px;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.questionShow .short:hover {
    background-color: black;
    color: white;
}

/* Header */

.header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 50px;
    width: 95%;
    padding-bottom: 3px;
    border-bottom: 3px solid black;
}

.detail h1 {
    margin: 0;
    padding: 0;
    font-size: 27px;
}

.otherdetail {
    display: flex;
    flex-wrap: wrap;
}

.otherdetail h4 {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-size: 20px;
    font-weight: normal;
}

.timer {
    width: 30%;
    text-align: center;
}

footer {
    margin: 80px;
}

.showinfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.circlequiz {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    margin: 5px;
}

.clearvalues{
    cursor: pointer;
    text-decoration: underline;
}

.submitFinal:hover{
    background-color: green !important;
}